<div class="container">
  <div
    class="jumbotron py-5 col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-4"
  >
    <h1 class="display-5 mb-4">Welcome to our store</h1>
    <div class="d-flex align-items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="50"
        fill="currentColor"
        class="bi bi-cart"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <p class="m-0 ml-4">There are 2 items in your cart.</p>
    </div>
    <button class="btn btn-dark px-3 mt-5" routerLink="shopping-cart">
      Go to your cart
    </button>
  </div>
</div>
